version: '3'

services:
  db_wsgi_demo:
    container_name: db_wsgi_demo
    image: postgres:15.1
    restart: always
    volumes:
      - db_wsgi_demo_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgresdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  wsgi_demo:
    build: .
    command: gunicorn wsgi_demo.wsgi:application --bind 0.0.0.0:8000 --error-logfile ./log/error.log --access-logfile ./log/access.log --capture-output --log-level debug
    # command: bash -c "python manage.py runserver 0.0.0.0:8000"
    # command: gunicorn wsgi_endpoint:app --bind 0.0.0.0:8000
    restart: always
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_NAME=postgresdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DATABASE_HOST=db_wsgi_demo
    depends_on:
      - db_wsgi_demo

volumes:
  db_wsgi_demo_data:
